# Example of .env file. Rename this file to .env and fill in the values for the APIs you want to use.

# Vertex AI
GCP_PROJECT=your_gcp_project
GCP_LOCATION=your_gcp_location
GOOGLE_APPLICATION_CREDENTIALS=path_to_your_gcp_credentials_file